In [39]:
import pandas as pd

df = pd.read_excel('ChinoData.xlsx')
df

,Col,M,Set,Bag 1,Bag 2,Bag 3,Bag 4,Bag 5,Bag 6
0,A,3.000,1,6.702554,8289.577272,8768.783159,7832.962519,8590.564208,11743.738947
1,A,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
2,A,10.000,1,0.000000,6010.922602,6229.464166,5028.560283,6942.029634,9315.815390
3,A,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
4,B,3.000,1,3.455637,7825.899494,9132.619685,8602.586976,8929.378531,11353.999405
5,B,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
6,B,10.000,1,1.551615,1.551615,6228.307376,5571.329061,6050.088425,8568.201266
7,B,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
8,C,3.000,1,13.083409,7497.202202,8340.928421,8454.630915,121.995310,10225.077219
9,C,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
10,C,10.000,1,7070.770146,4884.940027,5726.699245,7150.609575,5856.774767,13.702468
11,C,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
12,D,3.000,1,1.551615,7788.236636,8735.466940,8902.504421,9548.747789,12089.223572
13,D,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
14,D,10.000,1,5533.943567,5533.943567,5533.943567,5533.943567,5533.943567,5533.943567
15,D,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
16,E,3.000,1,0.000000,4435.398033,5697.957591,5997.213631,5502.020118,7916.916603
17,E,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
18,E,10.000,1,0.000000,4156.197246,5856.952466,5579.209240,4477.298978,4694.091515
19,E,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
20,F,3.000,1,1.551615,3103.936771,3391.684389,3600.931027,3705.688307,4591.668989
21,F,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
22,F,10.000,1,NaN,NaN,NaN,NaN,NaN,NaN
23,F,10.000,2,0.000000,2888.615125,3335.434207,3319.425822,3750.127618,3957.583224
24,G,3.000,1,0.000000,3000.000000,3368.364322,2828.887092,3631.635678,4916.165687
25,G,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
26,G,10.000,1,3090.463233,3090.463233,3090.463233,3090.463233,3090.463233,3090.463233
27,G,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
28,H,3.000,1,0.000000,2733.814138,3631.634001,25.429810,3518.773398,0.000000
29,H,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
30,H,10.000,1,3559.307866,3559.307866,3559.307866,3559.307866,3559.307866,3559.307866
31,H,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
32,I,47.244,1,1.520626,1447.594829,1825.295793,1554.674057,1849.111480,2739.802482
33,I,47.244,2,0.000000,1411.901753,1786.648597,1596.305828,2020.623047,2852.814059
34,I,94.488,1,0.000000,1087.740403,1227.528133,754.731043,1596.275373,1932.375021
35,I,94.488,2,NaN,NaN,NaN,NaN,NaN,NaN
36,I,141.732,1,34.689793,428.709534,576.581765,4.709807,1003.239621,1555.332066
37,I,141.732,2,65.454368,615.100454,694.588464,416.004178,1007.400527,1405.932603
38,I,188.976,1,0.000000,528.000000,191.000000,233.000000,770.000000,1021.667739
39,I,188.976,2,5.161495,551.581517,537.333285,290.415074,777.549012,250.000000
40,I,236.220,1,0.000000,372.000000,298.000000,7.000000,631.000000,832.000000
41,I,236.220,2,7.736964,368.255298,282.027753,124.755750,620.964215,798.903141
42,I,283.464,1,0.000000,209.000000,171.000000,75.000000,467.000000,555.228465
43,I,283.464,2,4.654845,183.778748,173.928152,66.719825,407.751732,549.795933
44,J,3.000,1,211.275046,2698.069046,3416.450723,3579.620497,2869.430745,6788.914199
45,J,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
46,J,10.000,1,NaN,NaN,NaN,NaN,NaN,NaN
47,J,10.000,2,1400.234055,2105.362436,3197.520884,3670.978173,3381.568310,6245.094801
48,K,3.000,1,0.000000,8820.382951,10032.228229,10152.618888,11857.000090,13907.713630
49,K,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
50,K,10.000,1,2432.889231,2239.319533,4731.415475,6126.344122,6657.197298,9979.663294
51,K,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
52,L,3.000,1,276.733146,6541.888130,8983.435619,8797.294882,9448.906632,3114.352587
53,L,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
54,L,10.000,1,930.169746,4877.320473,6735.548656,7303.164432,6941.930369,10533.813333
55,L,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN
56,M,3.000,1,186.625220,8081.946667,8282.613333,9713.413333,7948.206382,10506.560000
57,M,3.000,2,NaN,NaN,NaN,NaN,NaN,NaN
58,M,10.000,1,13.469876,5637.063785,6480.246239,7208.943490,7729.350158,8752.788452
59,M,10.000,2,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
for i, row in df.iterrows():
    real_data = row.to_list()
    print(real_data[3:])

[6.70255435929914, 8289.57727194934, 8768.78315933596, 7832.96251925381, 8590.56420788408, 11743.738946888]
[nan, nan, nan, nan, nan, nan]
[0.0, 6010.92260172792, 6229.46416580868, 5028.5602830951, 6942.0296342719, 9315.81539012489]
[nan, nan, nan, nan, nan, nan]
[3.45563709139426, 7825.89949449896, 9132.61968480524, 8602.58697591436, 8929.37853107345, 11353.9994052929]
[nan, nan, nan, nan, nan, nan]
[1.55161494616846, 1.55161494616846, 6228.30737634777, 5571.32906101978, 6050.08842489589, 8568.2012664727]
[nan, nan, nan, nan, nan, nan]
[13.0834086118639, 7497.20220242625, 8340.92842114688, 8454.63091454407, 121.995309751808, 10225.077219213]
[nan, nan, nan, nan, nan, nan]
[7070.77014570324, 4884.94002665482, 5726.6992447801, 7150.60957478442, 5856.77476677032, 13.7024683122081]
[nan, nan, nan, nan, nan, nan]
[1.55161494616846, 7788.23663643106, 8735.4669404986, 8902.50442124479, 9548.74778937761, 12089.2235723658]
[nan, nan, nan, nan, nan, nan]
[5533.9435671833, 5533.9435671833, 5533.9435671833, 5533.9435671833, 5533.9435671833, 5533.9435671833]
[nan, nan, nan, nan, nan, nan]
[0.0, 4435.39803282343, 5697.95759146257, 5997.21363091755, 5502.02011758478, 7916.91660324992]
[nan, nan, nan, nan, nan, nan]
[0.0, 4156.19724566859, 5856.95246557086, 5579.20924033763, 4477.2989782319, 4694.09151488228]
[nan, nan, nan, nan, nan, nan]
[1.55161494616846, 3103.93677054204, 3391.68438855306, 3600.93102697634, 3705.688306904, 4591.6689885762]
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan]
[0.0, 2888.61512492939, 3335.43420703362, 3319.42582168891, 3750.12761786786, 3957.58322386556]
[0.0, 3000.0, 3368.3643222851, 2828.88709242792, 3631.6356777149, 4916.16568672789]
[nan, nan, nan, nan, nan, nan]
[3090.4632328782, 3090.4632328782, 3090.4632328782, 3090.4632328782, 3090.4632328782, 3090.4632328782]
[nan, nan, nan, nan, nan, nan]
[0.0, 2733.8141378551, 3631.6340013213, 25.4298101360443, 3518.77339792997, 0.0]
[nan, nan, nan, nan, nan, nan]
[3559.3078659199, 3559.3078659199, 3559.3078659199, 3559.3078659199, 3559.3078659199, 3559.3078659199]
[nan, nan, nan, nan, nan, nan]
[1.52062631737429, 1447.59482876764, 1825.29579266343, 1554.67405704192, 1849.1114799531, 2739.80248157198]
[0.0, 1411.90175267622, 1786.64859679311, 1596.30582753422, 2020.62304744662, 2852.81405906495]
[0.0, 1087.74040291757, 1227.5281326613, 754.731043421905, 1596.27537269114, 1932.3750209377]
[nan, nan, nan, nan, nan, nan]
[34.6897931954636, 428.709533952857, 576.581765433679, 4.70980653769179, 1003.23962100872, 1555.3320655354]
[65.4543677936291, 615.100453661698, 694.588464031108, 416.004177674019, 1007.40052686879, 1405.93260343226]
[0.0, 528.0, 191.0, 233.0, 770.0, 1021.66773914394]
[5.16149461684611, 551.581517382115, 537.33328474601, 290.415074288284, 777.549012462649, 250.0]
[0.0, 372.0, 298.0, 7.0, 631.0, 832.0]
[7.73696432341144, 368.255298277166, 282.027753366986, 124.755749538358, 620.964215436193, 798.903141170469]
[0.0, 209.0, 171.0, 75.0, 467.0, 555.228465378216]
[4.65484483850538, 183.778747691791, 173.928151754239, 66.7198254154776, 407.751732030819, 549.795933241017]
[211.27504596123, 2698.06904622586, 3416.45072306278, 3579.62049653097, 2869.43074479646, 6788.91419893698]
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan]
[1400.23405500293, 2105.36243600108, 3197.5208838588, 3670.97817299919, 3381.56831042846, 6245.09480081919]
[0.0, 8820.3829510796, 10032.2282291541, 10152.6188877022, 11857.00009, 13907.71363]
[nan, nan, nan, nan, nan, nan]
[2432.88923144682, 2239.31953314248, 4731.41547522285, 6126.3441218404, 6657.19729776546, 9979.66329373163]
[nan, nan, nan, nan, nan, nan]
[276.73314560983, 6541.88812958745, 8983.43561937675, 8797.29488172556, 9448.90663171066, 3114.35258714369]
[nan, nan, nan, nan, nan, nan]
[930.16974618563, 4877.32047301315, 6735.54865561208, 7303.1644315254, 6941.93036929378, 10533.8133333333]
[nan, nan, nan, nan, nan, nan]
[186.625220253333, 8081.94666666667, 8282.61333333333, 9713.41333333333, 7948.20638171368, 10506.56]
[nan, nan, nan, nan, nan, nan]
[13.4698759156825, 5637.06378499381, 6480.24623912377, 7208.94349025304, 7729.35015789684, 8752.78845201]
[nan, nan, nan, nan, nan, nan]

In [41]:
for i, row in df.iterrows():
    general_info = row.to_list()
    print(general_info[:3])

['A', 3.0, 1]
['A', 3.0, 2]
['A', 10.0, 1]
['A', 10.0, 2]
['B', 3.0, 1]
['B', 3.0, 2]
['B', 10.0, 1]
['B', 10.0, 2]
['C', 3.0, 1]
['C', 3.0, 2]
['C', 10.0, 1]
['C', 10.0, 2]
['D', 3.0, 1]
['D', 3.0, 2]
['D', 10.0, 1]
['D', 10.0, 2]
['E', 3.0, 1]
['E', 3.0, 2]
['E', 10.0, 1]
['E', 10.0, 2]
['F', 3.0, 1]
['F', 3.0, 2]
['F', 10.0, 1]
['F', 10.0, 2]
['G', 3.0, 1]
['G', 3.0, 2]
['G', 10.0, 1]
['G', 10.0, 2]
['H', 3.0, 1]
['H', 3.0, 2]
['H', 10.0, 1]
['H', 10.0, 2]
['I', 47.244, 1]
['I', 47.244, 2]
['I', 94.488, 1]
['I', 94.488, 2]
['I', 141.732, 1]
['I', 141.732, 2]
['I', 188.976, 1]
['I', 188.976, 2]
['I', 236.22, 1]
['I', 236.22, 2]
['I', 283.464, 1]
['I', 283.464, 2]
['J', 3.0, 1]
['J', 3.0, 2]
['J', 10.0, 1]
['J', 10.0, 2]
['K', 3.0, 1]
['K', 3.0, 2]
['K', 10.0, 1]
['K', 10.0, 2]
['L', 3.0, 1]
['L', 3.0, 2]
['L', 10.0, 1]
['L', 10.0, 2]
['M', 3.0, 1]
['M', 3.0, 2]
['M', 10.0, 1]
['M', 10.0, 2]

In [42]:
import numpy as np

set_1 = []
set_2 = []

for i, row in df.iterrows():
    if row[2] == 1: set_1.append(row)
    else: set_2.append(row)

for i in set_1:
    print(i[2])

for i in set_2:
    print(i[2])

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [43]:
set_1 = np.array(set_1)
set_2 = np.array(set_2)

print(type(set_1))
print(type(set_2))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [44]:
def isNaN(num):
    return num != num

for i in range(len(set_1)):
    if not isNaN(set_1[i][3]) and not isNaN(set_2[i][3]):
        median = np.median(np.concatenate([set_1[i][3:], set_2[i][3:]]))
    elif isNaN(set_1[i][3]) and not isNaN(set_2[i][3]):
        median = np.median(set_2[i][3:])
    elif isNaN(set_2[i][3]) and not isNaN(set_1[i][3]):
        median = np.median(set_1[i][3:])
    
    print(set_1[i][0], median)

A 8440.07073991671
A 6120.1933837683
B 8765.982753493905
B 5810.708742957835
C 7919.065311786565
C 5791.7370057752105
D 8818.985680871694
D 5533.9435671833
E 5599.988854523675
E 4585.69524655709
F 3496.3077077647004
F 3327.4300143612654
G 3184.1821611425503
G 3090.4632328782
H 1379.621973995572
H 3559.3078659199
I 1691.4772121636652
I 1157.634267789435
I 595.8411095476886
I 409.207537144142
I 333.127649138583
I 178.853449723015
J 3142.9407339296204
J 3289.54459714363
K 10092.423558428149
K 5428.879798531625
L 7669.5915056565045
L 6838.73951245293
M 8182.28
M 6844.594864688404

In [45]:
medians = []

for i in range(len(set_1)):
    if not isNaN(set_1[i][3]) and not isNaN(set_2[i][3]):
        medians.append(np.median(np.concatenate([set_1[i][3:], set_2[i][3:]])))
    elif isNaN(set_1[i][3]) and not isNaN(set_2[i][3]):
        medians.append(np.median(set_2[i][3:]))
    elif isNaN(set_2[i][3]) and not isNaN(set_1[i][3]):
        medians.append(np.median(set_1[i][3:]))
    
for i in medians: print(i)

8440.07073991671
6120.1933837683
8765.982753493905
5810.708742957835
7919.065311786565
5791.7370057752105
8818.985680871694
5533.9435671833
5599.988854523675
4585.69524655709
3496.3077077647004
3327.4300143612654
3184.1821611425503
3090.4632328782
1379.621973995572
3559.3078659199
1691.4772121636652
1157.634267789435
595.8411095476886
409.207537144142
333.127649138583
178.853449723015
3142.9407339296204
3289.54459714363
10092.423558428149
5428.879798531625
7669.5915056565045
6838.73951245293
8182.28
6844.594864688404

In [46]:
pts_df = pd.read_csv('Waypoints_8_2.csv')
pts_df

     Name   Latitude   Longitude
0     A-3  33.978463 -117.701681
1    A-10  33.978513 -117.701650
2     B-3  33.978363 -117.701486
3    B-10  33.978411 -117.701441
4     C-3  33.978253 -117.701300
5    C-10  33.978310 -117.701233
6     D-3  33.978156 -117.701085
7    D-10  33.978214 -117.701029
8     E-3  33.977972 -117.700782
9    E-10  33.978020 -117.700752
10    F-3  33.977576 -117.699985
11   F-10  33.977621 -117.700024
12    G-3  33.977207 -117.699347
13   G-10  33.977235 -117.699304
14    H-3  33.976860 -117.698593
15   H-10  33.976805 -117.698586
16  I-155  33.976913 -117.697746
17  I-310  33.977290 -117.697741
18  I-465  33.977707 -117.697758
19  I-620  33.978152 -117.697748
20  I-775  33.978583 -117.697789
21  I-930  33.979032 -117.697781
22    J-3  33.976135 -117.697570
23   J-10  33.976185 -117.697598
24    K-3  33.975932 -117.697320
25   K-10  33.975967 -117.697272
26    L-3  33.975798 -117.697206
27   L-10  33.975870 -117.697137
28    M-3  33.975689 -117.697011
29   M-10  33.975724 -117.696972

In [47]:
print(len(medians))
print(len(pts_df.index))

30
30

In [48]:
pts_df['Latitude'][0]

33.97846333

In [49]:
data = []

for i in range(len(medians)):
    data.append([set_1[i][0], set_1[i][1], pts_df['Latitude'][i], pts_df['Longitude'][i], medians[i]])

for i in data:
    print(i)

['A', 3.0, 33.97846333, -117.701681, 8440.07073991671]
['A', 10.0, 33.9785125, -117.7016495, 6120.1933837683]
['B', 3.0, 33.978363, -117.7014855, 8765.982753493905]
['B', 10.0, 33.9784115, -117.7014405, 5810.708742957835]
['C', 3.0, 33.978253, -117.7013, 7919.065311786565]
['C', 10.0, 33.97831, -117.701233, 5791.7370057752105]
['D', 3.0, 33.978156, -117.701085, 8818.985680871694]
['D', 10.0, 33.978214, -117.7010285, 5533.9435671833]
['E', 3.0, 33.9779715, -117.700782, 5599.988854523675]
['E', 10.0, 33.9780195, -117.7007525, 4585.69524655709]
['F', 3.0, 33.97757587, -117.6999853, 3496.3077077647004]
['F', 10.0, 33.9776215, -117.700024, 3327.4300143612654]
['G', 3.0, 33.977207, -117.6993465, 3184.1821611425503]
['G', 10.0, 33.9772355, -117.6993045, 3090.4632328782]
['H', 3.0, 33.97686, -117.698593, 1379.621973995572]
['H', 10.0, 33.9768045, -117.698586, 3559.3078659199]
['I', 47.244, 33.976913, -117.697746, 1691.4772121636652]
['I', 94.488, 33.97729, -117.697741, 1157.634267789435]
['I', 141.732, 33.977707, -117.697758, 595.8411095476886]
['I', 188.976, 33.978152, -117.6977475, 409.207537144142]
['I', 236.22, 33.978583, -117.697789, 333.127649138583]
['I', 283.464, 33.979032, -117.697781, 178.853449723015]
['J', 3.0, 33.97613543, -117.6975704, 3142.9407339296204]
['J', 10.0, 33.9761845, -117.6975985, 3289.54459714363]
['K', 3.0, 33.975932, -117.6973195, 10092.423558428149]
['K', 10.0, 33.975967, -117.697272, 5428.879798531625]
['L', 3.0, 33.97579805, -117.6972056, 7669.5915056565045]
['L', 10.0, 33.9758705, -117.697137, 6838.73951245293]
['M', 3.0, 33.975689, -117.697011, 8182.28]
['M', 10.0, 33.9757235, -117.6969715, 6844.594864688404]

In [50]:
import csv

with open('data.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['Row', 'Col', 'Latitude', 'Longitude', 'Concentration (PPT)'])
    writer.writerows(data)

In [51]:
df = pd.read_csv('data.csv')
df

   Row      Col   Latitude   Longitude  Concentration (PPT)
0    A    3.000  33.978463 -117.701681          8440.070740
1    A   10.000  33.978513 -117.701650          6120.193384
2    B    3.000  33.978363 -117.701486          8765.982753
3    B   10.000  33.978411 -117.701441          5810.708743
4    C    3.000  33.978253 -117.701300          7919.065312
5    C   10.000  33.978310 -117.701233          5791.737006
6    D    3.000  33.978156 -117.701085          8818.985681
7    D   10.000  33.978214 -117.701029          5533.943567
8    E    3.000  33.977972 -117.700782          5599.988855
9    E   10.000  33.978020 -117.700752          4585.695247
10   F    3.000  33.977576 -117.699985          3496.307708
11   F   10.000  33.977621 -117.700024          3327.430014
12   G    3.000  33.977207 -117.699347          3184.182161
13   G   10.000  33.977235 -117.699304          3090.463233
14   H    3.000  33.976860 -117.698593          1379.621974
15   H   10.000  33.976805 -117.698586          3559.307866
16   I   47.244  33.976913 -117.697746          1691.477212
17   I   94.488  33.977290 -117.697741          1157.634268
18   I  141.732  33.977707 -117.697758           595.841110
19   I  188.976  33.978152 -117.697748           409.207537
20   I  236.220  33.978583 -117.697789           333.127649
21   I  283.464  33.979032 -117.697781           178.853450
22   J    3.000  33.976135 -117.697570          3142.940734
23   J   10.000  33.976185 -117.697598          3289.544597
24   K    3.000  33.975932 -117.697320         10092.423558
25   K   10.000  33.975967 -117.697272          5428.879799
26   L    3.000  33.975798 -117.697206          7669.591506
27   L   10.000  33.975870 -117.697137          6838.739512
28   M    3.000  33.975689 -117.697011          8182.280000
29   M   10.000  33.975724 -117.696972          6844.594865